
<h1>ROBIPEDIA</h1>

<div class ="login-box">
  <h2>Create and Share Wikis!</h2>
  <button type="button" class="btn btn-lg btn-pill btn-secondary">Sign-Up</button>
</div>

<div class="plan-box">
  Create Public Wikis for free
  <br>
  <button type="button" class="btn btn-lg btn-pill btn-secondary">Free Plan</button>
</div>

<div class="premium-box">
  Create Private Wikis for a small fee
  <br>
  <button type="button" class="btn btn-lg btn-pill btn-secondary">Premium Plan</button>
</div>

<div class = 'row'>

  <div class="col-md-4 col-md-offset-2 shift-down">Create unlimited number<br>
  of free wikis with free plan<br>
      <% if current_user && current_user.premium? %>

        <%= form_for current_user do |f| %>
          <%= f.submit "Free", data: { confirm: "Downgrade account to free status?" },
          class: "green-btn centered-text" %>
          <%= f.hidden_field :role, :value => 'standard'%>
        <% end %>

      <% end %>
  </div> 
