
<h1>ROBIPEDIA</h1>

<div class ="login-box">
  <h2>Create and Share Wikis!</h2>
  <button type="button" class="btn btn-lg btn-pill btn-secondary">Sign-Up</button>
</div>

<div class="plan-box">
  Create Public Wikis for free
  <br>
  <button type="button" class="btn btn-lg btn-pill btn-secondary">Free Plan</button>
</div>

<div class="premium-box">
  Create Private Wikis for a small fee
  <br>
  <button type="button" class="btn btn-lg btn-pill btn-secondary">Premium Plan</button>
</div>
